 <div class="section" id="index-banner" style="background-image:url('assets/list.png')">
    <div class="container">
      <br><br>
      <h1 class="header center">Local Voter</h1>
      <div class="row center">
        <h5 class="header col s12 light">Learn and follow bills in your local state government</h5>
      </div>
      <div class="row center">
        <a href="" id="signUpBtn" class="btn-large red accent-4 waves-effect waves-light btn">Sign Up Today!</a>
      </div>
    </div>
  </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">assignment</i></h2>
            <h5 class="center">Learn</h5>

            <p class="light">An easier way to find all your local government bills, active and inactive</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">directions_run</i></h2>
            <h5 class="center">Track</h5>

            <p class="light">Keep up with the bills you care about, find out who has voted on them or not.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">spa</i></h2>
            <h5 class="center">Get Involved</h5>

            <p class="light">Contact your local government representatives about the bills you care about.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer  indigo lighten-2">
    <div class="container">
      <div class="row">
        <div class="col 16 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
            full time job. Any amount would help support and continue development on this project and is greatly
            appreciated.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright  indigo lighten-2">
      <div class="container center">
        <p class="center white-text" style="margin-bottom:-5px;"> &copy; Copyright 2019</p>
      </div>
    </div>
  </footer>